* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.logo {
  max-width: 100px;
}

.navbar {
  display: flex;
  height: 70px;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.hero-container {
  padding: 36px;
  display: flex;
  flex-direction: column;
}

.hero-grid-img {
  max-width: 400px;
  align-self: center;
}

.hero-container h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 118%;
  margin-bottom: 16px;
}

.hero-container h5 {
  font-size: 16px;
  font-weight: 300;
  width: 320px;
  line-height: 110%;
  margin-top: 0;
}
